%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}

  %body
    .container
      %h1= "Give me something to reverse: #{@text}"

      %form{:method => "POST"}
        %input{:name => "text", :placeholder => "Type text here"}
